<!DOCTYPE html>
<html>
  <head>
    <title>Ytpush</title>
    <%= csrf_meta_tags %>
   <meta name="google-site-verification" content="ShBejFpH-P7F-uwCbPi-rgGgD2VRrRtQm1rkP2jAbvw" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
